.invisible {
	visibility: hidden;
}

.card {
	display: inline-block;
	position: relative;

	border-radius: 10px;
	border-style: solid;
	border-width: 2px;

	width: 200px;
	height: 280px;
	margin: 5px;
}

.card-inner {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
	top:0px;
	font-size: 20px;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

.white-card {
	@extend .card;

	color: $primary;
	background-color: $secondary;
	border-color: $secondary;
}

.white-card-controls {
  position: absolute;
  bottom: 8px;
  left: 5%;
  width: 90%;
  height: 10%;
  color: $secondary;
  background-color: $primary;
  border: solid 2px $primary;
  border-radius: 10px;

  box-sizing: border-box;
}

.white-card-control-btn {
  width: 30%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: -3px;
  padding: 3px 0;
	text-align: center;
	transition: all 0.3s ease-out;
}

.white-card-up {
  @extend .white-card-control-btn;
  border-right: $secondary 6px solid;
  left: 0;

	&:hover {
		text-shadow: 0 -2px $accent;
	}
}

.white-card-down {
  @extend .white-card-control-btn;
  border-left: $secondary 6px solid;
  right: 0;

	&:hover {
		text-shadow: 0 2px $accent;
	}
}

.white-card-num {
  @extend .white-card-control-btn;
  width: 40%;
  left: 30%;
	font-weight: 700;
}

.black-card {
	@extend .card;

	color: $secondary;
	background-color: $primary;
	border-color: $primary;
}

.special-card {
	@extend .card;

	color: $primary;
	background-color: $secondary;
	border-color: $accent;
}

.last-black {
	color: $secondary;
	background-color: $primary;

	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 20px);
	height: calc(50% - 20px);

	padding: 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	overflow-y: auto;
}

.last-white {
	color: $primary;
	background-color: $secondary;

	position: absolute;
	top: 50%;
	left: 0;
	width: calc(100% - 20px);
	height: calc(50% - 20px);

	padding: 10px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	overflow-y: auto;
}
