@import "_colors";
@import "_cards";

body {
	background-color: $background;
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	padding: 0;
}

#nav {
	background-color: $primary;
	color: $secondary;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	font-size: 45px;
	text-align: center;
	z-index: 1;
	overflow:hidden;
}

#content {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	overflow-y: auto;
}

#card-container {
	background-color: $background;
	width: 100%;
	height: 100%;
}

.name-right {
	float: right;
	margin-right: 10px;
}
